// imports

// fonts
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url(../assets/fonts/helvetica-neue-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url(../assets/fonts/helvetica-neue-light.otf) format('opentype');
}

// colors

$blue: #8ed3f1;
$blueLight: #b3e1f6;
$blueDark: #42b5e8;

$gray: #8090a0;
$grayLight: #8796a6;
$grayDark: #74879b;

$green: #c1efbe;
$greenLight: #d5f4d4;
$greenDark: #ace9a9;

// mixins

@mixin headline {
  font-family: 'Helvetica Neue Bold';
}

@mixin general {
  font-family: 'Helvetica Neue Light';
}

@mixin inputStyle {
  color: #888;
  padding-left: 15px;
  height: 45px;
  width: 80%;
  max-width: 500px;
  border-radius: 6px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

// resets

body,
html,
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: inherit;

  @include general;

  font-weight: normal;
}

b {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  @include headline; }

// usefull classes

.bg-dark {
  background-color: $grayLight;
}

// usefull classes

.bg-dark {
  background-color: $grayLight;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: $blueLight;
}

.bg-gray {
  background-color: #F3F4F6;
}

.container {
  background-size: 100% 100%;
  height: 100vh;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 600px;

}